In [1]:
import pandas as pd
import numpy as np

Investigate the performance of flights over time or simply look at data for a given year and create a graphic that showcases your finding(s).

In [4]:
df = pd.read_csv('airline_delay_causes_jan10_mar18.csv')
df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,2010,1,9E,Pinnacle Airlines Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",65.0,16.0,5.44,0.00,...,0.00,1.0,0.0,765.0,440.0,0.0,325.0,0.0,0.0,NaN
1,2010,1,9E,Pinnacle Airlines Inc.,AEX,"Alexandria, LA: Alexandria International",60.0,17.0,4.81,0.49,...,3.81,4.0,0.0,1029.0,297.0,99.0,335.0,0.0,298.0,NaN
2,2010,1,9E,Pinnacle Airlines Inc.,ALB,"Albany, NY: Albany International",81.0,34.0,9.73,1.42,...,3.28,1.0,1.0,1535.0,533.0,77.0,700.0,0.0,225.0,NaN
3,2010,1,9E,Pinnacle Airlines Inc.,ALO,"Waterloo, IA: Waterloo Regional",3.0,1.0,0.00,0.00,...,0.00,0.0,0.0,16.0,0.0,0.0,16.0,0.0,0.0,NaN
4,2010,1,9E,Pinnacle Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",1067.0,271.0,42.76,9.40,...,62.78,46.0,4.0,15932.0,4225.0,1098.0,6092.0,0.0,4517.0,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120840 entries, 0 to 120839
Data columns (total 22 columns):
year                   120840 non-null int64
 month                 120840 non-null int64
carrier                120840 non-null object
carrier_name           120840 non-null object
airport                120840 non-null object
airport_name           120840 non-null object
arr_flights            120704 non-null float64
arr_del15              120679 non-null float64
carrier_ct             120704 non-null float64
 weather_ct            120704 non-null float64
nas_ct                 120704 non-null float64
security_ct            120704 non-null float64
late_aircraft_ct       120704 non-null float64
arr_cancelled          120704 non-null float64
arr_diverted           120704 non-null float64
 arr_delay             120704 non-null float64
 carrier_delay         120704 non-null float64
weather_delay          120704 non-null float64
nas_delay              120704 non-null float64
security_delay         120704 non-null float64
late_aircraft_delay    120704 non-null float64
Unnamed: 21            0 non-null float64
dtypes: float64(16), int64(2), object(4)
memory usage: 20.3+ MB

In [ ]:
df.